# .dockerignore

# Git version control
.git
.gitignore

# Secrets - should be handled by Jenkins credentials
.env

# Python specific
*.pyc
__pycache__/
venv/
env/

# IDE / Editor specific
.idea/
.vscode/