<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
        <title>TasteTailor</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
    
        <!-- Favicons -->
        <link href="{% static 'img/logo.png' %}" rel="icon">
        <link href="{% static 'img/logo.png' %}" rel="apple-touch-icon">
    
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet">
    
        <!-- Vendor CSS Files -->
        <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
        <link href="{% static "vendor/aos/aos.css" %}" rel="stylesheet">
        <link href="{% static "vendor/glightbox/css/glightbox.min.css" %}" rel="stylesheet">
        <link href="{% static "vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    
        <!-- Template Main CSS File -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">

        <style>
            /* Style for the button */
            .popup-button {
                display: none;
                position: absolute;
                bottom: 0; /* Position at the bottom of the image */
                left: 50%;
                transform: translateX(-50%);
                padding: 5px 15px; /* Smaller size */
                background-color: #007bff; /* Blue background color */
                color: #fff;
                border: 1px solid #007bff; /* Blue border */
                border-radius: 10px; /* Rounded edges */
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
                cursor: pointer;
                z-index: 1;
            }
            
            /* Hover effect */
            .swiper-slide:hover .popup-button {
                display: block;
            }

        </style>
    </head>

    <body>
    
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center justify-content-around">
            <a href="" class="logo d-flex align-items-center me-auto me-lg-0">
                <img src="{% static 'img/logo.png' %}" alt="TasteTailor Logo">
                <h1>TasteTailor</h1>
            </a>
        
            <!-- .navbar -->
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/#hero">Home</a></li>
                    <li><a href="/#about">About</a></li>
                    <li><a href="/#menu">Menu</a></li>
                    <li><a href="/#gallery">Top Recipes</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle">
                            <span>Services</span>
                        </a>
                        <ul>
                            <li><a href="#">Generate Recipe</a></li>
                            <li><a href="#">Analyse Recipe</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle">
                                    <span>Recommender</span>
                                </a>
                                <ul>
                                    <li><a href="/search">Search by Ingredients</a></li>
                                    <li><a href="#">Search by Nutrients</a></li>
                                    <li><a href="#">Random Recipe</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/#contact">Contact</a></li>
                </ul>
            </nav>
        
            <div class="dropdown">
                <a class="btn btn-link dropdown-toggle text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{what}}" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu p-0 border-1">

                    {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href = "/authentication/signout">Sign Out</a></li>

                    {% else %}
                    <li><a class="dropdown-item" href="/authentication/signup">Sign Up</a></li>
                    <li><a class="dropdown-item" href="/authentication/signin">Sign In</a></li>

                    {% endif %}

                </ul>
            </div>            
        </header>
        <!-- End Header -->
    
        <!-- ======= Hero Section ======= -->
        <section id="hero" class="hero d-flex align-items-center section-bg">
          <div class="container">
            <div class="row justify-content-between gy-5">
              <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Enjoy Your Healthy<br>Delicious Food</h2>
                <p data-aos="fade-up" data-aos-delay="100">Hello to a world of culinary possibilities
                  with our AI recipe generator website.</p>

                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <form action="search" method="POST" class="search-form">
                    {% csrf_token %}
                        <div class="input-group">
                            <input type="text" id = "q" name="q" class="form-control" placeholder="Search spicy sauce...">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                    <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center">
                        <i class="bi bi-play-circle"></i><span>Watch Video</span>
                    </a>
                </div>
                
              </div>
              <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://lottie.host/0dac1345-039b-4078-81e7-d807b6b55ee9/1JhuzrlVCV.json" background="##ffffff" speed="1" style="width: 400px; height: 400px" loop autoplay direction="1" mode="normal" data-aos="zoom-out" data-aos-delay="300">
                </lottie-player>
              </div>
            </div>
          </div>
        </section>
        <!-- End Hero Section -->
    
        <main id="main">
    
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="container" data-aos="fade-up">
                    <div class="section-header">
                        <h2>About Us</h2>
                        <p>Learn More <span>About Us</span></p>
                    </div>
                    <div class="row gy-4">
                        <div class="col-lg-7 position-relative about-img"
                            style="background-image: url('/static/img/lul.jpg') ;" data-aos="fade-up"
                            data-aos-delay="150">
                        </div>
                        <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                            <div class="content ps-0 ps-lg-5">
                                <p class="fst-italic">
                                    Our AI recipe generator website is a culinary companion designed to inspire
                                    your inner chef and simplify your meal planning.
                                </p>
                                <ul>
                                    <li><i class="bi bi-check2-all"></i> Our AI analyzes your taste preferences,
                                        dietary restrictions, and available ingredients to provide tailored
                                        recipe recommendations.</li>
                                    <li><i class="bi bi-check2-all"></i> Explore a wide range of cuisines,
                                        cooking styles, and dietary choices, ensuring there's something for
                                        everyone.</li>
                                    <li><i class="bi bi-check2-all"></i> Input the ingredients you have on hand,
                                        and our AI will generate recipes that use those ingredients, reducing
                                        food waste.</li>
                                </ul>
                                <p>
                                    "Experience the future of cooking with our AI recipe generator website. From
                                    personalized dishes to meal planning and sustainable choices. Discover,
                                    cook, and savor the extraordinary – all at your fingertips!"
                                </p>
                                <div class="position-relative mt-4">
                                    <img src="{% static "img/about-2.jpg" %}" class="img-fluid" alt="">
                                    <a href="https://youtu.be/EIHziCOTHiw?si=RTcVEDPIVyNwWB0r"
                                        class="glightbox play-btn"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About Section -->
    
            <!-- ======= Why Us Section ======= -->
            <section id="why-us" class="why-us section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="row gy-4">
                        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="why-box">
                                <h3>Why Choose TasteTailor?</h3>
                                <p>
                                    Our AI-driven recipe generator is designed to delight your palate with
                                    personalized culinary experiences. With us, you'll find recipes that match
                                    your preferences, dietary needs, and available ingredients, all delivered
                                    with easy-to-follow instructions.
                                </p>
                            </div>
                        </div>
                        <!-- End Why Box -->

                        <div class="col-lg-8 d-flex align-items-center">
                            <div class="row gy-4">
                                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                                    <div
                                        class="icon-box d-flex flex-column justify-content-center align-items-center">
                                        <i class="bi bi-clipboard-data"></i>
                                        <h4>Search Recipes by Nutrients</h4>
                                        <p>Searching recipes by nutrients is your path to healthier, customized
                                            cooking.</p>
                                    </div>
                                </div>
                                <!-- End Icon Box -->

                                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                                    <div
                                        class="icon-box d-flex flex-column justify-content-center align-items-center">
                                        <i class="bi bi-gem"></i>
                                        <h4>Search Recipes by Ingredients</h4>
                                        <p>Make the most of what's in your kitchen by inputting what you have,
                                            and let our AI generate delicious recipes.</p>
                                    </div>
                                </div>
                                <!-- End Icon Box -->

                                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                                    <div
                                        class="icon-box d-flex flex-column justify-content-center align-items-center">
                                        <i class="bi bi-inboxes"></i>
                                        <h4>Analyse your Recipe</h4>
                                        <p>We break down your recipe into its ingredients, preparation steps,
                                            and even provide nutritional insights.</p>
                                    </div>
                                </div>
                                <!-- End Icon Box -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Why Us Section -->
    
            <!-- ======= Stats Counter Section ======= -->
            <section id="stats-counter" class="stats-counter">
                <div class="container" data-aos="zoom-out">
                    <div class="row gy-4">
                        <div class="col-lg-3 col-md-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="232"
                                    data-purecounter-duration="1" class="purecounter"></span>
                                <p>Recepies Uploaded</p>
                            </div>
                        </div><!-- End Stats Item -->
                        <div class="col-lg-3 col-md-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="521"
                                    data-purecounter-duration="1" class="purecounter"></span>
                                <p>Recepies Generated</p>
                            </div>
                        </div><!-- End Stats Item -->
                        <div class="col-lg-3 col-md-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="1453"
                                    data-purecounter-duration="1" class="purecounter"></span>
                                <p>Hours Of Support</p>
                            </div>
                        </div><!-- End Stats Item -->
                        <div class="col-lg-3 col-md-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="32"
                                    data-purecounter-duration="1" class="purecounter"></span>
                                <p>Users</p>
                            </div>
                        </div><!-- End Stats Item -->
                    </div>
                </div>
            </section><!-- End Stats Counter Section -->
    
            <!-- ======= Menu Section ======= -->
            <section id="menu" class="menu">
                <div class="container" data-aos="fade-up">
                    <div class="section-header">
                        <h2>Our Menu</h2>
                        <p>Check Our <span>Yummy Menu</span></p>
                    </div>
                    <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up"
                        data-aos-delay="200">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab"
                                data-bs-target="#menu-starters">
                                <h4>Starters</h4>
                            </a>
                        </li><!-- End tab nav item -->
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
                                <h4>Main Course</h4>
                            </a>
                        </li><!-- End tab nav item -->
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
                                <h4>Desserts</h4>
                            </a>
                        </li><!-- End tab nav item -->
                    </ul>
                    <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
                        <div class="tab-pane fade active show" id="menu-starters">
                            <div class="tab-header text-center">
                                <p>Menu</p>
                                <h3>Starters</h3>
                            </div>
                            <div class="row gy-5">
                                {% for starter in starters%}
                                <div class="col-lg-4 menu-item">
                                    <a href="{{starter.image_url}}" class="glightbox"><img
                                            src={{starter.image_url}} class="menu-img img-fluid"
                                            alt=""></a>
                                    <a href = "/recipeinfo/{{starter.id}}"><h6>{{starter.name}}</h6></a>
                                    <p class="ingredients">
                                        Recipe Id: {{starter.id}}
                                    </p>
                                    <p class="price">
                                        {{starter.time_to_prepare}} minutes
                                    </p>
                                </div><!-- Menu Item -->

                                {% empty %}
                                <p>No recipes available.</p>

                                {% endfor %}
                            </div>
                        </div><!-- End Starter Menu Content -->
                        <div class="tab-pane fade" id="menu-lunch">
                            <div class="tab-header text-center">
                                <p>Menu</p>
                                <h3>Main Course</h3>
                            </div>
                            <div class="row gy-5">
                                {% for lunch in lunches%}
                                <div class="col-lg-4 menu-item">
                                    <a href="{{lunch.image_url}}" class="glightbox"><img
                                            src={{lunch.image_url}} class="menu-img img-fluid"
                                            alt=""></a>
                                    <a href = "/recipeinfo/{{lunch.id}}"><h6>{{lunch.name}}</h6></a>
                                    <p class="ingredients">
                                        Recipe Id: {{lunch.id}}
                                    </p>
                                    <p class="price">
                                        {{lunch.time_to_prepare}} minutes
                                    </p>
                                </div><!-- Menu Item -->

                                {% empty %}
                                <p>No recipes available.</p>

                                {% endfor %}
                            </div>
                        </div><!-- End Lunch Menu Content -->
                        <div class="tab-pane fade" id="menu-dinner">
                            <div class="tab-header text-center">
                                <p>Menu</p>
                                <h3>Desserts</h3>
                            </div>
                            <div class="row gy-5">
                                {% for dinner in dinners%}
                                <div class="col-lg-4 menu-item">
                                    <a href="{{dinner.image_url}}" class="glightbox"><img
                                            src={{dinner.image_url}} class="menu-img img-fluid"
                                            alt=""></a>
                                    <a href = "/recipeinfo/{{dinner.id}}"><h6>{{dinner.name}}</h6></a>
                                    <p class="ingredients">
                                        Recipe Id: {{dinner.id}}
                                    </p>
                                    <p class="price">
                                        {{dinner.time_to_prepare}} minutes
                                    </p>
                                </div><!-- Menu Item -->

                                {% empty %}
                                <p>No recipes available.</p>

                                {% endfor %}
                            </div>
                        </div>
                        <!-- End Dinner Menu Content -->
                    </div>
                </div>
            </section>
            <!-- End Menu Section -->
    
    
    
    
                        <!-- ======= Book A Table Section ======= -->
                        <section id="book-a-table" class="book-a-table">
                            <div class="container" data-aos="fade-up">
    
                                <div class="section-header">
    
                                    <p>Get your personal <span>AI Tailored</span> Recipe</p>
                                </div>
    
                                <div class="row g-0">
    
                                    <div class="col-lg-4 reservation-img"
                                        style="background-image: url(assets/img/reservation.jpg);" data-aos="zoom-out"
                                        data-aos-delay="200"></div>
    
                                    <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
                                        <form action="forms/book-a-table.php" method="post" role="form"
                                            class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                                            <div class="row gy-4">
                                                <div class="col-lg-4 col-md-6">
                                                    <input type="text" name="name" class="form-control" id="name"
                                                        placeholder="Your Name" data-rule="minlen:4"
                                                        data-msg="Please enter at least 4 chars">
                                                    <div class="validate"></div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <input type="email" class="form-control" name="email" id="email"
                                                        placeholder="Your Email" data-rule="email"
                                                        data-msg="Please enter a valid email">
                                                    <div class="validate"></div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <input type="text" class="form-control" name="phone" id="phone"
                                                        placeholder="Your Phone" data-rule="minlen:4"
                                                        data-msg="Please enter at least 4 chars">
                                                    <div class="validate"></div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <input type="text" name="date" class="form-control" id="date"
                                                        placeholder="Date" data-rule="minlen:4"
                                                        data-msg="Please enter at least 4 chars">
                                                    <div class="validate"></div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <input type="text" class="form-control" name="time" id="time"
                                                        placeholder="Time" data-rule="minlen:4"
                                                        data-msg="Please enter at least 4 chars">
                                                    <div class="validate"></div>
                                                </div>
                                                <div class="col-lg-4 col-md-6">
                                                    <input type="number" class="form-control" name="people" id="people"
                                                        placeholder="# of people" data-rule="minlen:1"
                                                        data-msg="Please enter at least 1 chars">
                                                    <div class="validate"></div>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <textarea class="form-control" name="message" rows="5"
                                                    placeholder="What would you like to Eat..."></textarea>
                                                <div class="validate"></div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="loading">Loading</div>
                                                <div class="error-message"></div>
                                                <div class="sent-message">Your booking request was sent. We will call back
                                                    or send an Email to confirm your reservation. Thank you!</div>
                                            </div>
                                            <div class="text-center"><button type="submit">Genrate Recipe</button></div>
                                        </form>
                                    </div><!-- End Reservation Form -->
    
                                </div>
    
                            </div>
                        </section><!-- End Book A Table Section -->
    
            <!-- ======= Gallery Section ======= -->
            <section id="gallery" class="gallery section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="section-header">
                        <h2>Top Recipes</h2>
                        <p>Check Our <span> Top Recipes</span></p>
                    </div>
                    <div class="gallery-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            {% for recipe in top %}
                            <div class="swiper-slide">
                                <a class="glightbox" data-gallery="images-gallery" href={{recipe.image_url}}>
                                    <img src={{recipe.image_url}}
                                         class="img-fluid" alt="">
                                    <!-- Button to be shown on hover -->
                                    <a href = "/recipeinfo/{{recipe.id}}"><button class="popup-button">View Details</button></a>
                                </a>
                            </div>                            
                            {% empty %}
                                <p>No recipes available.</p>

                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>
            <!-- End Gallery Section -->
    
                        <!-- ======= Contact Section ======= -->
                        <section id="contact" class="contact">
                            <div class="container" data-aos="fade-up">
    
                                <div class="section-header">
                                    <h2>Contact</h2>
                                    <p>Need Help? <span>Contact Us</span></p>
                                </div>
    
                                <div class="mb-3">
                                    <iframe style="border:0; width: 100%; height: 350px;"
                                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                                        frameborder="0" allowfullscreen></iframe>
                                </div><!-- End Google Maps -->
    
                                <div class="row gy-4">
    
                                    <div class="col-md-6">
                                        <div class="info-item  d-flex align-items-center">
                                            <i class="icon bi bi-map flex-shrink-0"></i>
                                            <div>
                                                <h3>Our Address</h3>
                                                <p>FlatNo.104, Palam , New Delhi<br>
                                                    New Delhi, Dl 0112525 - IND<br></p>
                                            </div>
                                        </div>
                                    </div><!-- End Info Item -->
    
                                    <div class="col-md-6">
                                        <div class="info-item d-flex align-items-center">
                                            <i class="icon bi bi-envelope flex-shrink-0"></i>
                                            <div>
                                                <h3>Email Us</h3>
                                                <p>TasteTailor@gmail.com</p>
                                            </div>
                                        </div>
                                    </div><!-- End Info Item -->
    
                                    <div class="col-md-6">
                                        <div class="info-item  d-flex align-items-center">
                                            <i class="icon bi bi-telephone flex-shrink-0"></i>
                                            <div>
                                                <h3>Call Us</h3>
                                                <p>+91 8708458376</p>
                                            </div>
                                        </div>
                                    </div><!-- End Info Item -->
    
                                    <div class="col-md-6">
                                        <div class="info-item  d-flex align-items-center">
                                            <i class="icon bi bi-share flex-shrink-0"></i>
                                            <div>
                                                <h3>24*7 Available</h3>
    
                                            </div>
                                        </div>
                                    </div><!-- End Info Item -->
    
                                </div>
    
                                <form action="forms/contact.php" method="post" role="form"
                                    class="php-email-form p-3 p-md-4">
                                    <div class="row">
                                        <div class="col-xl-6 form-group">
                                            <input type="text" name="name" class="form-control" id="name"
                                                placeholder="Your Name" required>
                                        </div>
                                        <div class="col-xl-6 form-group">
                                            <input type="email" class="form-control" name="email" id="email"
                                                placeholder="Your Email" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" id="subject"
                                            placeholder="Subject" required>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                            required></textarea>
                                    </div>
                                    <div class="my-3">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Your message has been sent. Thank you!</div>
                                    </div>
                                    <div class="text-center"><button type="submit">Send Message</button></div>
                                </form><!--End Contact Form -->
    
                            </div>
                        </section><!-- End Contact Section -->
    
                    </main><!-- End #main -->
    
        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row gy-3">
                    <div class="col-lg-3 col-md-6 d-flex">
                        <i class="bi bi-geo-alt icon"></i>
                        <div>
                            <h4>Address</h4>
                            <p>
                                FlatNo.104, Palam , New Delhi<br>
                                New Delhi, Dl 0112525 - IND<br>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links d-flex">
                        <i class="bi bi-telephone icon"></i>
                        <div>
                            <h4>Contacts</h4>
                            <p>
                                <strong>Phone:</strong>+91 8708458376<br>
                                <strong>Email:</strong>TasteTailor@gmail.com<br>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links d-flex">
                        <i class="bi bi-clock icon"></i>
                        <div>
                            <h4>24*7 Available</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Follow Us</h4>
                        <div class="social-links d-flex">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>TasteTailor</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
                    Culinary AI
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    
        <a href="/" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        <div id="preloader"></div> 

        <!-- Vendor JS Files -->
        <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "vendor/aos/aos.js" %}"></script>
        <script src="{% static "vendor/glightbox/js/glightbox.min.js" %}"></script>
        <script src="{% static "vendor/purecounter/purecounter_vanilla.js" %}"></script>
        <script src="{% static "vendor/swiper/swiper-bundle.min.js" %}"></script>
        <script src="{% static "vendor/php-email-form/validate.js" %}"></script>

        <!-- Template Main JS File -->
        <script src="{% static "js/main.js" %}"></script>
        <!-- Include jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.swiper-slide').hover(
                    function() {
                        // Mouseenter: Show the button
                        $(this).find('.popup-button').css('display', 'block');
                    },
                    function() {
                        // Mouseleave: Hide the button
                        $(this).find('.popup-button').css('display', 'none');
                    }
                );
            });
        </script>
        
        <!-- Include Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    
    </body>

</html>